## Case Study

The given data set *Data-Collisions.csv* contains all collissions provided by Seattle Police Department from 2004 to present. The attributes in the data set include:
- Time and Location
    - Coordinates of the collision **X** and **Y**
    - Describtion of the general location of the collision **LOCATION** 
    - Type of the location *(alley, block or intersection)* **ADDRTYPE**
    - Category of junction at which collision took place **JUNCTIONTYPE**
    - Key that corresponds to the intersection associated with a collision **INTKEY**
    - Key for the lane segment in which the collision occurred **SEGLANEKEY**
    - Key for the crosswalk at which the collision occurred **CROSSWALKKEY**
    - Date of the incident **INCDATE**
    - Date and time of the incident **INCDTTM**
- Conditions
    - Description of the weather conditions during the time of the collision **WEATHER**
    - Condition of the road during the collision **ROADCOND**
    - Light conditions during the collision **LIGHTCOND**
- Involved parties
    - Number of people **PERSONCOUNT**
    - Number of pedestrians **PEDCOUNT**
    - Number of bicycles **PEDCYLCOUNT**
    - Number of vehicles **VEHCOUNT** 
- Behaviour of involved parties
    - Whether or not speeding was a factor in the collision (Y/N) **SPEEDING**
    - Whether or not the collision involved hitting a parked car (Y/N) **HITPARKEDCAR**
    - Whether or not the pedestrian right of way was not granted (Y/N) **PEDROWNOTGRNT**
    - Whether or not collision was due to inattention (Y/N) **INATTENTIONIND**
    - Whether or not a driver involved was under the influence of drugs or alcohol **UNDERINFL**
- Details of the incident
    - Code given to the collision by SDOT **SDOT_COLCODE** (for more information see the [State Collision Code Dictionary](https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Metadata.pdf))
    - Description of the collision corresponding to the collision code **SDOT_COLDESC**
    - Code provided by the state that describes the collision **ST_COLCODE**
    - Description that corresponds to the state’s coding designation **ST_COLDESC**
    - Number given to the collision by SDOT **SDOTCOLNUM**
    - Collision type **COLLISIONTYPE**
- Severity of the incident
    - Code that corresponds to the severity *(3—fatality, 2b—serious injury, 2—injury, 1—property damage, 0—unknown)* **SEVERITYCODE**
    - Detailed description of the severity **SEVERITYDESC**

The data set attributes also include a unique number for each incident **OBJECTID**, a report number **REPORTNO**, the column 'SEVERITYCODE' copy **SEVERITYCODE.1**, **INCKEY** and **COLDETKEY**, whether or not 'INCKEY' matches 'COLDETKEY' **STATUS**, **EXCEPTRSNCODE** and **EXCEPTRSNDESC**. <br>

We are now ready to read the data.

In [1]:
import numpy as np
import pandas as pd
%matplotlib inline

In [2]:
!wget -O Data-Collisions.csv https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv

--2020-09-14 10:27:13--  https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv
Resolving s3.us.cloud-object-storage.appdomain.cloud (s3.us.cloud-object-storage.appdomain.cloud)... 67.228.254.196
Connecting to s3.us.cloud-object-storage.appdomain.cloud (s3.us.cloud-object-storage.appdomain.cloud)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 73917638 (70M) [text/csv]
Saving to: ‘Data-Collisions.csv’

100%[======================================>] 73,917,638  36.0MB/s   in 2.0s

2020-09-14 10:27:16 (36.0 MB/s) - ‘Data-Collisions.csv’ saved [73917638/73917638]

In [3]:
df = pd.read_csv("Data-Collisions.csv")
df.head()

/opt/conda/envs/Python36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

We use the following command to find out what type of data and how many non-null values we have.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194673 entries, 0 to 194672
Data columns (total 38 columns):
SEVERITYCODE      194673 non-null int64
X                 189339 non-null float64
Y                 189339 non-null float64
OBJECTID          194673 non-null int64
INCKEY            194673 non-null int64
COLDETKEY         194673 non-null int64
REPORTNO          194673 non-null object
STATUS            194673 non-null object
ADDRTYPE          192747 non-null object
INTKEY            65070 non-null float64
LOCATION          191996 non-null object
EXCEPTRSNCODE     84811 non-null object
EXCEPTRSNDESC     5638 non-null object
SEVERITYCODE.1    194673 non-null int64
SEVERITYDESC      194673 non-null object
COLLISIONTYPE     189769 non-null object
PERSONCOUNT       194673 non-null int64
PEDCOUNT          194673 non-null int64
PEDCYLCOUNT       194673 non-null int64
VEHCOUNT          194673 non-null int64
INCDATE           194673 non-null object
INCDTTM           194673 non-null object
JUNCTIONTYPE      188344 non-null object
SDOT_COLCODE      194673 non-null int64
SDOT_COLDESC      194673 non-null object
INATTENTIONIND    29805 non-null object
UNDERINFL         189789 non-null object
WEATHER           189592 non-null object
ROADCOND          189661 non-null object
LIGHTCOND         189503 non-null object
PEDROWNOTGRNT     4667 non-null object
SDOTCOLNUM        114936 non-null float64
SPEEDING          9333 non-null object
ST_COLCODE        194655 non-null object
ST_COLDESC        189769 non-null object
SEGLANEKEY        194673 non-null int64
CROSSWALKKEY      194673 non-null int64
HITPARKEDCAR      194673 non-null object
dtypes: float64(4), int64(12), object(22)
memory usage: 56.4+ MB

To understand our data even better we check what values some attributes have.

In [5]:
def list_subtraction(list1, list2): 
    list3 = [value for value in list1 if value not in list2] 
    return list3

column_list = df.columns.values.tolist()
remove_list = ['X','Y','OBJECTID','INCKEY','COLDETKEY','REPORTNO','LOCATION', \
                   'INCDATE','INCDTTM','SDOT_COLCODE','SDOT_COLDESC','SDOTCOLNUM', \
                   'ST_COLCODE','ST_COLDESC','SEGLANEKEY','CROSSWALKKEY']
column_list = list_subtraction(column_list, remove_list)
for column_name in column_list:
    print(column_name,':   ', df[column_name].unique())

SEVERITYCODE :    [2 1]
STATUS :    ['Matched' 'Unmatched']
ADDRTYPE :    ['Intersection' 'Block' 'Alley' nan]
INTKEY :    [37475.    nan 34387. ... 36056. 38057. 26005.]
EXCEPTRSNCODE :    [' ' nan 'NEI']
EXCEPTRSNDESC :    [nan 'Not Enough Information, or Insufficient Location Information']
SEVERITYCODE.1 :    [2 1]
SEVERITYDESC :    ['Injury Collision' 'Property Damage Only Collision']
COLLISIONTYPE :    ['Angles' 'Sideswipe' 'Parked Car' 'Other' 'Cycles' 'Rear Ended' 'Head On'
 nan 'Left Turn' 'Pedestrian' 'Right Turn']
PERSONCOUNT :    [ 2  4  3  0  1  5  6 16  8  7 11  9 12 17 26 22 10 37 13 36 28 14 53 19
 30 29 23 44 15 32 21 41 27 20 35 43 81 18 25 48 24 34 57 39 47 54 31]
PEDCOUNT :    [0 1 2 3 4 5 6]
PEDCYLCOUNT :    [0 1 2]
VEHCOUNT :    [ 2  3  1  0  4  7  5  6  8 11  9 10 12]
JUNCTIONTYPE :    ['At Intersection (intersection related)'
 'Mid-Block (not related to intersection)' 'Driveway Junction'
 'Mid-Block (but intersection related)'
 'At Intersection (but not related to intersection)' nan 'Unknown'
 'Ramp Junction']
INATTENTIONIND :    [nan 'Y']
UNDERINFL :    ['N' '0' nan '1' 'Y']
WEATHER :    ['Overcast' 'Raining' 'Clear' nan 'Unknown' 'Other' 'Snowing'
 'Fog/Smog/Smoke' 'Sleet/Hail/Freezing Rain' 'Blowing Sand/Dirt'
 'Severe Crosswind' 'Partly Cloudy']
ROADCOND :    ['Wet' 'Dry' nan 'Unknown' 'Snow/Slush' 'Ice' 'Other' 'Sand/Mud/Dirt'
 'Standing Water' 'Oil']
LIGHTCOND :    ['Daylight' 'Dark - Street Lights On' 'Dark - No Street Lights' nan
 'Unknown' 'Dusk' 'Dawn' 'Dark - Street Lights Off' 'Other'
 'Dark - Unknown Lighting']
PEDROWNOTGRNT :    [nan 'Y']
SPEEDING :    [nan 'Y']
HITPARKEDCAR :    ['N' 'Y']

### Cleaning and Preparing the Data

To get a better understanding about timing of the incidents and to be able to use this later we will change **INCDTTM** and **INCDATE** columns into datetime format and extract information about the date that could be useful:**YEAR**, **MONTH**, **DAYOFWEEK** and **TIMESLOT**.

In [6]:
from datetime import datetime, timedelta

df['INCDTTM'] = pd.to_datetime(df['INCDTTM'])
df['INCDATE'] = pd.to_datetime(df['INCDATE'])

df['YEAR'] = df['INCDATE'].dt.year
df['MONTH'] = df['INCDATE'].dt.month
df['DAYOFWEEK'] = df['INCDATE'].dt.dayofweek

df['INCDTTM1'] = pd.DatetimeIndex(df['INCDTTM']) + timedelta(hours=1)

df['TIMESLOT'] = df['INCDTTM'].dt.strftime('%H').astype(str) + " - " + df['INCDTTM1'].dt.strftime('%H').astype(str)

df.drop(['INCDTTM1'], axis = 1, inplace = True)

df[['INCDATE','INCDTTM','YEAR','MONTH','DAYOFWEEK','TIMESLOT']].head()

,INCDATE,INCDTTM,YEAR,MONTH,DAYOFWEEK,TIMESLOT
0,2013-03-27 00:00:00+00:00,2013-03-27 14:54:00,2013,3,2,14 - 15
1,2006-12-20 00:00:00+00:00,2006-12-20 18:55:00,2006,12,2,18 - 19
2,2004-11-18 00:00:00+00:00,2004-11-18 10:20:00,2004,11,3,10 - 11
3,2013-03-29 00:00:00+00:00,2013-03-29 09:26:00,2013,3,4,09 - 10
4,2004-01-28 00:00:00+00:00,2004-01-28 08:04:00,2004,1,2,08 - 09

Having done that, we know that **INCDATE** provides less information than **INCDTTM** and so we can drop this column.

In [7]:
df.drop(['INCDATE'], axis = 1, inplace = True)

Since columns **EXCEPTRSNCODE**, **EXCEPTRSNDESC** and **INTKEY** and  have a lot of missing data and/or have data that does not provide any information we will also drop these columns.

In [8]:
df.drop(['EXCEPTRSNCODE', 'EXCEPTRSNDESC','INTKEY'], axis = 1, inplace = True)

As columns **SEVERITYCODE** and **SEVERITYCODE.1** are equal, **SEVERITYCODE** takes only values 1 and 2 and **SEVERITYDESC** values are *'Injury Collision'* if **SEVERITYCODE** = 2 and *'Property Damage Only Collision'* if **SEVERITYCODE** = 1, we drop column **SEVERITYDESC** and change values of **SEVERITYCODE** and **SEVERITYCODE.1** to numeric values so that '1' corresponds to *'Minor Injury'* and '0' corresponds to *'Property Damage Only'*.

In [9]:
df[['SEVERITYCODE','SEVERITYCODE.1']] = df[['SEVERITYCODE','SEVERITYCODE.1']].replace([2, 1],[1,0])
df.drop(['SEVERITYDESC'], axis = 1, inplace = True)

Let's also change values of columns **HITPARKEDCAR**, **SPEEDING**, **PEDROWNOTGRNT**, **UNDERINFL**, **INATTENTIONIND** from *0*, *N*, *NaN* to *0* and from *Y*, *1* to *1*.

In [10]:
df[['HITPARKEDCAR','SPEEDING','PEDROWNOTGRNT','UNDERINFL','INATTENTIONIND']] = \
    df[['HITPARKEDCAR','SPEEDING','PEDROWNOTGRNT','UNDERINFL','INATTENTIONIND']].replace([np.nan, 'N','0'], 0)

df[['HITPARKEDCAR','SPEEDING','PEDROWNOTGRNT','UNDERINFL','INATTENTIONIND']] = \
    df[['HITPARKEDCAR','SPEEDING','PEDROWNOTGRNT','UNDERINFL','INATTENTIONIND']].replace(['Y','1'], 1)

Column **STATUS** represents whether **INCKEY** and **COLDETKEY** are equal. **INCKEY** and **COLDETKEY**  are certain keys, that is, some identification numbers which do not provide us any relevant information, hence we can drop these columns.

In [11]:
df.drop(['STATUS','INCKEY','COLDETKEY'], axis = 1, inplace = True)

Similary **OBJECTID**, **REPORTNO**, **ST_COLCODE**, **ST_COLDESC**, **SDOT_COLCODE**, **SDOT_COLDESC** and **SDOTCOLNUM** are other keys and identification numbers (or their descriptions) which do not seem to provide us any information regarding factors of the incidents, hence we also drop these attributes.

In [12]:
df.drop(['OBJECTID', 'REPORTNO', 'ST_COLCODE', 'ST_COLDESC', 'SDOT_COLCODE', 'SDOT_COLDESC', 'SDOTCOLNUM'], axis = 1, inplace = True)

We shall arrange the weather, road and lighting conditions (**WEATHER**, **ROADCOND** and **LIGHTCOND**) into fewer categories so that it is easier to plot and model later.

In [13]:
df['WEATHER'] = df['WEATHER'].replace(['Raining','Snowing','Sleet/Hail/Freezing Rain'],'Precipitation')
df['WEATHER'] = df['WEATHER'].replace(['Overcast','Partly Cloudy'],'Cloudy')
df['WEATHER'] = df['WEATHER'].replace(['Unknown','Other', np.nan],'Unknown')

df['ROADCOND'] = df['ROADCOND'].replace(['Unknown','Other', np.nan],'Unknown')
df['ROADCOND'] = df['ROADCOND'].replace(['Standing Water','Wet'],'Wet')

df['LIGHTCOND'] = df['LIGHTCOND'].replace(['Unknown','Other', np.nan],'Unknown')
df['LIGHTCOND'] = df['LIGHTCOND'].replace(['Dark - No Street Lights','Dark - Street Lights Off'],'Dark - Street Lights Off')
df['LIGHTCOND'] = df['LIGHTCOND'].replace(['Dark - Unknown Lighting','Dark - Street Lights On',],'Dark - Street Lights On')

Notice that **X**, **Y** and **LOCATION** attributes provide good location information. One could use these attributes to identify locations where most incidents occure. However, they do not provide any information about the characteristics of the location, hence, using these might result in overfitting and do not provide insightful results. So we also drop these columns.

In [14]:
df.drop(['X', 'Y', 'LOCATION'], axis = 1, inplace = True)

### Remarks

Since we aim to predict **SEVERITYCODE** which takes values (0) and (1) for 'Property Damage Only' and 'Minor Injury' respectively i.e. **SEVERITYCODE** takes binary values, we will probably implement Gradient Boosting Classifier, K-Nearest Neighbours Algorithm and Support Vector Machines. <br>

For Explanatory Data Analysis we intend to keep features:
- **SEVERITYCODE** (aim of the case study)
- **ADDRTYPE**, **JUNCTIONTYPE**, **CROSSWALKEY**, **SEGLANEKEY** (location information)
- **INCDTTM**, **YEAR**, **MONTH**, **DAYOFWEEK**, **TIMESLOT** (date and time information)
- **PERSONCOUNT**, **PEDCOUNT**, **PEDCYLCOUNT**, **VEHCOUNT**
- **UNDERINFL**, **PEDROWNOTGRNT**, **SPEEDING**, **INATTENTIONIND**, **HITPARKEDCAR**
- **WEATHER**, **ROADCOND**, **LIGHTCOND** <br>

In [15]:
df.head()

,SEVERITYCODE,ADDRTYPE,SEVERITYCODE.1,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INCDTTM,JUNCTIONTYPE,...,LIGHTCOND,PEDROWNOTGRNT,SPEEDING,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR,YEAR,MONTH,DAYOFWEEK,TIMESLOT
0,1,Intersection,1,Angles,2,0,0,2,2013-03-27 14:54:00,At Intersection (intersection related),...,Daylight,0,0,0,0,0,2013,3,2,14 - 15
1,0,Block,0,Sideswipe,2,0,0,2,2006-12-20 18:55:00,Mid-Block (not related to intersection),...,Dark - Street Lights On,0,0,0,0,0,2006,12,2,18 - 19
2,0,Block,0,Parked Car,4,0,0,3,2004-11-18 10:20:00,Mid-Block (not related to intersection),...,Daylight,0,0,0,0,0,2004,11,3,10 - 11
3,0,Block,0,Other,3,0,0,3,2013-03-29 09:26:00,Mid-Block (not related to intersection),...,Daylight,0,0,0,0,0,2013,3,4,09 - 10
4,1,Intersection,1,Angles,2,0,0,2,2004-01-28 08:04:00,At Intersection (intersection related),...,Daylight,0,0,0,0,0,2004,1,2,08 - 09